body {
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0px;
}

.topContainer {
    background-color: #F3EEEA;
    position: relative;
    padding-top: 100px;
}

.cloudImage {
    position: absolute;
    top: 600px;
}

.codeCreationImage {
    position: absolute;
    right: 500px;
}

.jsCodeImage {
    position: absolute;
    left: 500px;
}